#canvas {
    width: 1000px;
    height: 505px;
    background-image: url(../img/image.png);
    border:1px solid red;
}

#canvas canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: inherit;
}

#canvas img {
    z-index: -1;
    position: absolute;
}

.img-responsive {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}